.container {
  display:grid;
  grid-template-columns: 25% 75%
}

.add-user {
  background: rgb(180,232,145);
  background: radial-gradient(circle, rgba(180,232,145,1) 0%, rgba(113,215,135,1) 23%, rgba(129,186,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around
}
.change-color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1rem;
  background-color: #fff4b4;
  border-color: darkcyan;
  border-radius: 0.3rem;
  height: 2rem;
  width: 8rem;
}

img {
  height: 5rem;
  width: 5rem;
}

#change-user-color, #change-text-color {
  height: 2rem;
  width: 3rem;
}